# Node modules
node_modules

# Git
.git
.gitignore

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment files
.env
.env.*

# Build output
dist
build
coverage

# Editor & OS files
.vscode
.idea
.DS_Store
Thumbs.db

# Documentation
README.md
